@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;0,600;1,200;1,300;1,800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat;
}

@font-face {
  font-family: "Demo_Fonts";
  src: url(../assets/fonts/Demo_Fonts/Fontspring-DEMO-theseasons-lt.otf) format("opentype");
  font-style: normal;
  font-weight: 300; /* Peso de la fuente light */
}
.h1 {
  /*color: #D83E23;*/
  color: #7B4728;
  font-weight: lighter;
  text-align: center;
}

.h2 {
  background-color: rgba(255, 255, 255, 0.685);
  color: #D83E23;
  text-align: center;
}

.h3 {
  color: #7B4728;
  font-weight: none;
  text-align: center;
}

.h5 {
  color: #000000;
  text-align: center;
  font-weight: bold;
}

.h6 {
  color: #7B4728;
  font-weight: none;
  text-align: center;
}

.precio {
  color: #D83E23;
  text-align: center;
  font-weight: bold;
  font-size: 1.25rem;
}

span {
  color: #7B4728;
  font-weight: bold;
}

.header {
  margin-top: 0px;
  top: 0;
  position: sticky;
  z-index: 100;
}

.header .bgRosaPastel {
  background-color: #FFF6EF;
}

.navbar-light .navbar-nav .nav-link.coral {
  color: coral;
}

.navbar-light .navbar-nav .nav-link.coral:hover {
  background-color: rgba(255, 255, 255, 0.87);
  border-bottom: 1px solid #D83E23;
}

.logo {
  width: 190px;
  height: 30%;
}

.video1 {
  width: 100%;
  height: auto;
  display: none;
  overflow: hidden;
  position: relative;
  -o-object-fit: cover;
  object-fit: cover;
}

.video2 {
  width: 100%;
  height: auto;
  display: none;
  overflow: hidden;
}

@media screen and (min-width: 640px) {
  .video1 {
    display: block;
  }
  .video2 {
    display: none;
  }
}
@media screen and (max-width: 639px) {
  .video1 {
    display: none;
  }
  .video2 {
    display: block;
  }
}
.galeria {
  width: 100%;
  /*max-width: 1200px;*/
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 20px;
  overflow: hidden;
  background-image: linear-gradient(to bottom, #fde5d0, #ffe9e3, #ffeff3, #fef8fd, #ffffff);
}

.hijo {
  width: 200px;
  height: 200px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: black;
  margin-bottom: 10px;
}

.hijo img {
  width: 85%;
  height: 85%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid white;
  /* margin-top: 20px;*/
  transition: transform 1s ease-in-out;
  /* filter: grayscale(20%);*/
}

.hijo img:hover {
  transform: scale(1.1);
}

.texto {
  padding: 20px 100px;
  color: #7B4728;
}

/*FACIAL*/
.cardFacial {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  /* border: 1px solid rgba(0,0,0,.125); */
  border-radius: 0.25rem;
}

.bannerImg {
  background-image: url("../assets/img/rutina hidra.png"); /* Cambia la ruta por la URL de tu imagen */
  background-size: 100% 200px; /* Ajusta el tamaño de la imagen según tus necesidades */
  background-repeat: no-repeat;
  width: 100%;
  height: 200px;
  position: relative;
}

.gigante {
  position: absolute;
  bottom: 0;
  left: 10px;
  margin: 0;
  padding: 10px;
  color: rgba(255, 255, 255, 0.719);
  font-size: 6rem; /* Ajusta el tamaño de la fuente según tus necesidades */
}

@media screen and (max-width: 639px) {
  .bannerImg {
    background-image: url("../assets/img/rutina hidra.png"); /* Cambia la ruta por la URL de tu imagen más pequeña */
    background-size: 100% 150px; /* Ajusta el tamaño según tus necesidades */
  }
  .gigante {
    font-size: 1.5em;
  }
}
@media screen and (max-width: 640px) {
  .bannerImg {
    background-image: url("../assets/img/rutinafacial-responsive.png"); /* Cambia la ruta por la URL de tu imagen más pequeña */
    background-size: 100% 150px; /* Ajusta el tamaño según tus necesidades */
  }
  .gigante {
    font-size: 1.5em;
  }
}
/*CORPORAL*/
.carousel {
  max-height: 300px; /* Establece la altura máxima deseada para el carrusel */
}

.carousel .carousel-item img {
  max-height: 300px; /* Ajusta la altura máxima de las imágenes de las diapositivas */
  -o-object-fit: cover;
  object-fit: cover; /* Evita la deformación y recorta la imagen si es necesario */
  -o-object-position: botton;
  object-position: botton;
}

.card-text {
  text-align: center;
}

.foto {
  transform: scale(0.8);
}

/*RECOMENDADOS*/
.tarjetaVideo {
  padding: 15px 15px;
  border: 1px solid coral;
  border-radius: 20px;
  box-shadow: 2px 2px 24px 6px rgba(133, 133, 133, 0.7);
  -webkit-box-shadow: 2px 2px 24px 6px rgba(133, 133, 133, 0.7019607843);
  -moz-box-shadow: 2px 2px 24px 6px rgba(133, 133, 133, 0.7);
}

/*CONTACTO*/
.aguita_rosa {
  padding-top: 40px;
  padding-bottom: 20px;
  background-image: url(../assets/img/fondoAguitaRosa.png);
  width: 100%;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.7);
  border: 2px solid coral;
}

.indicacionForm {
  color: #D83E23;
  font-weight: bold;
  /*background-color: white;*/
  /*border-bottom: 1px solid #D83E23;*/
}

.boton {
  background-color: white;
  padding: 10px;
  margin-top: 0;
  color: #D83E23;
  text-align: center;
  font-weight: bold;
  border-radius: 5px;
  border: 1px solid #D83E23;
}

.boton:hover {
  color: #fff;
  background-color: rgba(216, 62, 35, 0.7803921569);
  border-color: white;
}

/*FOOTER*/
.footer {
  background-color: #FFF4EA;
  color: #333;
  padding: 10px;
  text-align: center;
  border-top: 1px solid coral;
}

.footer .icon {
  font-size: 3rem;
  color: #D83E23;
  padding-right: 15px;
}

.footer .contenedorMapaInfo {
  margin: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 50px;
  column-gap: 50px;
}

.footer .contenedorMapaInfo .contenedorInfo {
  text-align: left;
}

.footer .contenedorMapaInfo .contenedorInfo .parrafoInfoFooter {
  padding-bottom: 10px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 20px;
  border-top: 1px solid coral;
}

/* Estilos de las columnas del footer */
.footer-column {
  flex: 1;
  text-align: left;
  padding: 0 15px;
  margin-bottom: 20px;
}

.footer-column h4 {
  font-size: 20px;
  margin-bottom: 10px;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: #666;
}

suscribite {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: center;
} 

/*# sourceMappingURL=estilos.css.map */
