@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;0,600;1,200;1,300;1,800&display=swap');
@font-face {
    font-family: "Demo_Fonts";
    src: url(../assets/fonts/Demo_Fonts/Fontspring-DEMO-theseasons-lt.otf) format('opentype');
    font-style: normal;
    font-weight: 300; /* Peso de la fuente light */
}