
.h1{
    /*color: #D83E23;*/
    color:#7B4728;
    font-weight: lighter;
    text-align: center;
}
.h2{
    background-color: rgba(255, 255, 255, 0.685);
    color: #D83E23;
    text-align: center;
}
.h3{
    @include titulos( #7B4728,none,center);
}

.h5{
    color: #000000;
    text-align: center;
    font-weight: bold;
}
.h6{
    @include titulos( #7B4728,none,center);

}

.precio{
    color:#D83E23;
    text-align: center;
    font-weight: bold;
    font-size: 1.25rem;

}
span{
    color:#7B4728;
    font-weight: bold;
}