$bordes:(
    borde-solid-coral2: 2px solid coral,
    borde-solid-coral1: 1px solid coral,
    borde-cuadrodetexto: 1px solid #bbbbbb,
);


$color-fondo:(
    fondo-fuerte: coral,
    fondo-clarito: black,
    fondo-blanco: white,
    fondo-rosita: #FFF6EF,


);

$colorygrosor-tipografia:(
    h1: black,
    h2: coral,
    texto-parrafo: #7B4728,

    )

   /* $colores(
        marron: #7B4728,
        negro: black,
        naranja-claro: coral,
        blanco:  white,
)
$grosorTipografia(
        negrita: bold,
        finita: lighter,
        comun: none,
    
)
$alineacion(
        centrado: center,
)*/